*{
    text-decoration: : none;
    margin: none;
    padding: none;
    
}
body{
    background: #333; 
  
}
label{
    font-family: courier, sans-serif;
    font-size: 11pt;

}
h2{
    font-family: : courier, sans-serif;
}
#forgot-pass{
    color:black;
    font-family: courier, sans-serif;
    font-size: 10pt;
    margin-top: 10px;
    text-align: right;

}
#wrapper{
    height: 410px;
    
}
#card{
    background: #396EB0;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;

}
#card-content{
    font-family: : courier, sans-serif;
    letter-spacing: 4px;
    
    padding-top: 13px;
    text-align: center;

}
#card-title{
    font-family: : courier, sans-serif;
}

}
#signup{
    color: #142F43;
    font-family: courier, sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
buttom {
    background: #142F43;
    border-radius: 5px;
    margin-top: 35px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    

}
buttom:hover{
    box-shadow: 0px 1px 10px #fff;

}
.form{ 
    align-items: center;
    display: flex;
    flex-direction: column;

}
.form-border{
    height: 1px;
    width: 100%;
    background: #b0b3b2;
}
.form-content{
    background: : #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
.underline-title{
    background: #16a085;
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;

}
h4{
    margin-top: 5px;
    font-size: 13px;
    color: black;
}